
body
{
    background-color: aqua;
border-bottom-color: aqua;
    
}
table
{
    border-color: crimson;
    border-bottom-style: groove;
}
img
{
    float: right;
    right: 150px;
    border: 20px;
    border-bottom-left-radius: 20px;
}
a
{
    font: 40px;
}
  
img
{
   float:leftactive;
}
video
{
    float:bottom;
}